<!DOCTYPE html>
<html>
<head>
    <script>{{ vega | safe }}</script>
    <script>{{ vegalite | safe }}</script>
    <script>{{ vegaembed | safe }}</script>
</head>
<body>
<div id="vis" style="display: flex; justify-content: center;"></div>
<script>
    const spec = {{ spec | safe }};
    vegaEmbed("#vis", spec, {mode: "vega-lite"}).then(console.log).catch(console.warn);
</script>
</body>
</html>